<h2>Enrolled Hogwarts Students</h2>
<% @result.each do |student| %>
<p>First Name: <%=student.first_name%></p>
<p>Last Name: <%=student.last_name%></p>
<p>Age: <%=student.age%></p>
<p>House: <img src="<%=student.house.logo%>" alt="Crest of <%=student.house.name%> House"/></p>
<hr/>
<% end %>